@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Collection - ";
}

<h2>My Collection</h2>

<p>List of comics goes here</p>