@{
    ViewData["Title"] = "About shortbox";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>You can make a list of your comic books, and save it. You can edit and delete stuff, too!</p>
